.NavBar{
    height: 10%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:inset 0 -2px  10px rgba(255, 255, 255, 0.678);
    background-color: black;
}

.NavBar h1{
    margin: 0 3rem;
    color: green;
    margin-left: 4rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.NavBar h1:hover{
    animation: mymove 4s infinite;
    cursor: pointer;
}

@keyframes mymove {
    50% {transform: rotate(360deg);}
  }
.link{
    width: 50%;
    height: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}
.link a{
    margin: 0 2rem;
    font-size: 1.2rem;
    color: #a0a0a0;
    text-decoration: none;
    letter-spacing: .5px;
    position: relative;
    padding: 0 7px;
    transition: .3s;
}
.link a:hover{
    color: white;
    transform: scale(1.1);
    
}
.link a:after{
    content: "";
position: absolute;
background-color: #ff3c78;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;
text-align: center;
}
.link a:hover:after{
    width: 100%;
}
.NavBar .active{
    color: white;
    
}